<html>
<head>
  <title>CuteBank - About us</title>
  
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>

<body>
  <div id="content">
  <div class="reg-fon-content">
<div class="fon-block-about">
<div class="We-are">We are</div>


<div class="about-special">Team lead:</div>
<div class="about-user">Andrei Radzievskii</div>
<div class="user-about-email">dungeonmaster123@gmail.com</div>



<div class="about-special backend">Backend:</div>
<div class="about-user">Andrei Donenko</div>
<div class="user-about-email">mistervan@gmail.com</div>



<div class="about-special backend">Frontend:</div>
<div class="about-user">Yuriy Beliavtsev</div>
<div class="user-about-email">yura.beliavtsev@yandex.ru</div>


<div class="about-special backend">UL-design and testing:</div>
<div class="about-user">Michail Gerasemets</div>
<div class="user-about-email">jebroniboy@gmail.com</div>


</div>
  </div>
  </div>
</body>

</html>