<html>

<head>
  <title>CuteBank</title>

  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
</head>

<body>



  <div id="content">
    <div class="fon-content">
      <div class="welcome">
        <div class="become-client">
          <%= link_to "Become a client", new_user_registration_path %>
        </div>
        <div class="client-login">
          <%= link_to "Client Login", new_user_session_path %>
        </div>
      </div>

    </div>
  </div>

  


</body>

</html>